<mat-toolbar id="mainToolbar">
  <span class="titlelogo" [ngStyle]="{'width.px': contentMargin}">{{title}}</span>
  <i class="fa fa-bars" (click)="onToolbarMenuToggle()" id="sidebarButton" [ngStyle]="{'margin-left.px': contentMargin+10}"></i>
  <span class="toolbar-spacer"></span>
  <i class="fa fa-bell"></i><span class="badge badge-warning notification">10</span>
  <i class="fa fa-flag"></i><span class="badge badge-danger notification">9</span>

  <div class="user-info">
    <img src="../assets/User_2 160x160.jpg" alt="Avatar">
    <span>Alexander Pierce</span>
  </div>
  <i class="fa fa-cogs setting"></i>
</mat-toolbar>


<mat-sidenav-container id="sidenavContainer" fullscreen>
  <mat-sidenav mode="side" #sidenav id="sidenav" [class.menu-open]="isMenuOpen" [class.menu-close]="!isMenuOpen" opened>
    <div id="menus">
      <mat-expansion-panel appCustomMatExpansionToggle (opened)="panelOpenState=true" (closed)="panelOpenState=false"
      routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" [ngClass]="{'disabled-pointer': !isMenuOpen}">
        <mat-expansion-panel-header [@.disabled]="true">
          <mat-panel-title>
            <i class="fa fa-tachometer menu-icon" [ngClass]="{'visible-icon': !isMenuOpen}"></i><span [hidden]="!isMenuOpen">Dashboard</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
      <mat-expansion-panel appCustomMatExpansionToggle (opened)="panelOpenState=true" (closed)="panelOpenState=false"
      routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" [ngClass]="{'disabled-pointer': !isMenuOpen}"> 
        <mat-expansion-panel-header [@.disabled]="true">
          <mat-panel-title>
            <i class="fa fa-table menu-icon" [ngClass]="{'visible-icon': !isMenuOpen}"></i><span [hidden]="!isMenuOpen">Tables</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div [hidden]="!isMenuOpen">
          <div class="action-row">
            <span class="dot"></span><a routerLink="/simpletables" class="submenu">Simple Tables</a>
          </div>
          <div class="action-row">
            <span class="dot"></span><a routerLink="/datatables" class="submenu">Data Tables</a>
          </div>
        </div>
      </mat-expansion-panel>
    </div>
  </mat-sidenav>

  <mat-sidenav-content [ngStyle]="{ 'margin-left.px': contentMargin }">
    <mat-selection-list class="content">
      <router-outlet></router-outlet>
    </mat-selection-list> 
  </mat-sidenav-content>
</mat-sidenav-container>
