.container {
    color: #4d4d4d;
}

.title {
    padding: 15px 15px;
    font-size: 20px;
}

.directory {
    font-size: 12px;
}

.directory i {
    margin-right: 5px;
}

.directory a {
    color: black;
}

.directory span {
    padding: 0 10px;
    color: grey;
}